<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hydrogenlauncher_19012021002">

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" /> <!-- wifi -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- bluetooth -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HydrogenLauncher_19012021002">
        <activity
            android:name=".colorpiker"
            android:exported="true" />
        <activity
            android:name=".HomeScreen_LongPress"
            android:exported="true" />
        <activity
            android:name=".Wallpaper_Modual"
            android:exported="true" />
        <activity
            android:name=".Notification_Panel"
            android:exported="true" />
        <activity
            android:name=".Setting_Modual"
            android:exported="true" />
        <activity
            android:name=".secondactivity"
            android:exported="true" />
        <activity
            android:name=".Launcher_Home"
            android:enabled="true"
            android:exported="true">

            <!-- <activity -->
            <!-- android:name=".Launcher_Home" -->
            <!-- android:exported="true" -->
            <!-- android:enabled="true"> -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <!-- <category android:name="android.intent.category.HOME" /> -->
                <!-- <category android:name="android.intent.category.DEFAULT" /> -->
                <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            </intent-filter>
        </activity>
    </application>

</manifest>